.formik-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h4 {
        margin: 0;
        margin-top: 10px;
        font-size: 30px;
    }

    div {
        color: red;
        font-size: 14px;
    }
}