.toy-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 40%;
    width: 60%;
    background: linear-gradient(135deg, #c3eddf 0%, #e9f7f3 100%);
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.toy-chart h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--clr3);
}