.add-btn {
    margin: 0.6em;
}

.toy-index {
    width: 100%;
    /* max-width: 1400px;
    margin: 0 auto; */
    padding: 2em;
}

.toy-index h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
}

.toylink {
    margin: 1em;
    margin-right: auto;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: var(--clr2bg);
    padding: 0.5em 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}